@font-face {
  font-family: "playbold", sans-serif;
  src: url("play-bold-webfont.woff2") format("woff2"),
    url("play-bold-webfont.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "playregular", sans-serif;
  src: url("play-regular-webfont.woff2") format("woff2"),
    url("play-regular-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "robotomedium", sans-serif;
  src: url("roboto-medium-webfont.woff2") format("woff2"),
    url("roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "robotoregular", sans-serif;
  src: url("roboto-regular-webfont.woff2") format("woff2"),
    url("roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
}
