:root {
  --primary-color-white: #ffffff;
  --primary-color-blue: #2b7fff;
  --primary-color-dark-blue: #011c44;

  --secondary-color-dark-gray: #4a4a4a;
  --secondary-color-gray: #747272;
  --secondary-color-dark-blue: #011f4a;
  --secondary-color-yellow: #ffd02b;
}
