.link {
  font-family: "playbold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color-dark-blue);
  transition: color 1s;

  &:hover {
    color: var(--primary-color-blue);
  }
}
